.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: #ffffff;
  opacity: 1;
  visibility: visible;
  -webkit-transition: visibility 0.4s 0s, opacity 0.4s, background-color 0.6s ease-in-out;
  -o-transition: visibility 0.4s 0s, opacity 0.4s, background-color 0.6s ease-in-out;
  -moz-transition: visibility 0.4s 0s, opacity 0.4s, background-color 0.6s ease-in-out;
  transition: visibility 0.4s 0s, opacity 0.4s, background-color 0.6s ease-in-out;
}

.loader.loaded {
  opacity: 0;
  visibility: hidden;
}

.loader-content {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
     -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.loader-logo {
  position: relative;
  display: block;
  margin: 0 auto 16px;
  overflow: hidden;
}

.loader-logo::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fd625e;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
  -webkit-transform: translateX(-102%);
     -moz-transform: translateX(-102%);
      -ms-transform: translateX(-102%);
          transform: translateX(-102%);
  z-index: 1;
}

.loader-logo img {
  display: block;
  width: 100%;
  height: auto;
  z-index: 0;
}

.loader-caption {
  margin: 0 auto;
  text-align: center;
}

.loading-dots {
  position: relative;
  line-height: 1;
  display: inline-block;
  width: 36px;
  height: 10px;
  text-align: center;
  overflow: hidden;
}

.loading-dots::after {
  clear: both;
  content: "";
  display: table;
}

.loading-dots::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #fd625e;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
  -webkit-transform: translateX(-102%);
     -moz-transform: translateX(-102%);
      -ms-transform: translateX(-102%);
          transform: translateX(-102%);
  z-index: 1;
}

.loading-dots .dot {
  display: block;
  float: left;
  width: 6px;
  height: 6px;
  margin: 2px 3px 0 3px;
  background-color: #333b8f;
  opacity: 0;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  -webkit-animation: fade 1s infinite;
     -moz-animation: fade 1s infinite;
          animation: fade 1s infinite;
}

.loading-dots .dot:nth-of-type(1) {
  -webkit-animation-delay: 0s;
     -moz-animation-delay: 0s;
          animation-delay: 0s;
}

.loading-dots .dot:nth-of-type(2) {
  -webkit-animation-delay: .1s;
     -moz-animation-delay: .1s;
          animation-delay: .1s;
}

.loading-dots .dot:nth-of-type(3) {
  -webkit-animation-delay: .2s;
     -moz-animation-delay: .2s;
          animation-delay: .2s;
}

.fadeIn {
  -webkit-animation: 0.6s 1 both fadeIn;
     -moz-animation: 0.6s 1 both fadeIn;
          animation: 0.6s 1 both fadeIn;
}

.hidingLogo img {
  -webkit-animation: 0.8s 1 both itemsOpacity2;
     -moz-animation: 0.8s 1 both itemsOpacity2;
          animation: 0.8s 1 both itemsOpacity2;
}

.hidingLogo::after {
  -webkit-animation: 0.8s 1 both hidingLogo;
     -moz-animation: 0.8s 1 both hidingLogo;
          animation: 0.8s 1 both hidingLogo;
}

.loader-caption.hidingDots .loading-dots .dot {
  -webkit-animation: none;
     -moz-animation: none;
          animation: none;
  -webkit-animation: 0.8s 1 both itemsOpacity2;
     -moz-animation: 0.8s 1 both itemsOpacity2;
          animation: 0.8s 1 both itemsOpacity2;
}

.loader-caption.hidingDots .loading-dots::before {
  -webkit-animation: 0.8s 1 both hidingLogo;
     -moz-animation: 0.8s 1 both hidingLogo;
          animation: 0.8s 1 both hidingLogo;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  99% {
    opacity: .8;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fade {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  99% {
    opacity: .8;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  99% {
    opacity: .8;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes hidingLogo {
  0% {
    -webkit-transform: translateX(-102%);
            transform: translateX(-102%);
  }
  40% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(102%);
            transform: translateX(102%);
  }
}

@-moz-keyframes hidingLogo {
  0% {
    -moz-transform: translateX(-102%);
         transform: translateX(-102%);
  }
  40% {
    -moz-transform: translateX(0);
         transform: translateX(0);
  }
  50% {
    -moz-transform: translateX(0);
         transform: translateX(0);
  }
  100% {
    -moz-transform: translateX(102%);
         transform: translateX(102%);
  }
}

@keyframes hidingLogo {
  0% {
    -webkit-transform: translateX(-102%);
       -moz-transform: translateX(-102%);
            transform: translateX(-102%);
  }
  40% {
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(102%);
       -moz-transform: translateX(102%);
            transform: translateX(102%);
  }
}

@-webkit-keyframes itemsOpacity2 {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes itemsOpacity2 {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes itemsOpacity2 {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
