/*! ------------------------------------------------
   Project Name: Ramio Coming Soon Template
   Project Description: Ramio - awesome coming soon template to kick-start your project
   Tags: Ramio, coming soon, under construction, template, coming soon page, html5, css3
   Version: 1.0.0
   Build Date: April 2018
   Last Update: April 2018
   This product is available exclusively on Themeforest
   Author: mix_design
   Author URI: http://mixdesign.club
   File name: first-screen-demo.css
   ------------------------------------------------

   ------------------------------------------------
   Table of Contents
   ------------------------------------------------
    1. Reset CSS
    2. Base CSS Styles
    3. Intro Styles
   ------------------------------------------------
   Table of Contents End
   ------------------------------------------------ */

// Import Bourbon
@import "bourbon"

// Import Mixins and Variables
@import "partials/layout"
@import "partials/mixins"
@import "partials/variables"

// Demo Mixins and Variables
// Colors
$bluegem: #4d3a8f
$turquoise: #40e1e8
$radicalred: #f3414d
$cornflower: #95bce4
$jacksonspurple: #333b8f
$bittersweet: #fd625e
$white: #ffffff
$black: #121212

/* ------------------------------------------------*/
/* Base Styles Start
/* ------------------------------------------------*/
*, *::before, *::after
  box-sizing: border-box

button:active, button:focus
  outline: none !important

button::-moz-focus-inner
  border: 0 !important

input::-moz-focus-inner
  border: 0 !important

::selection
  background-color: $bluegem
  color: $turquoise
  text-shadow: none

html
  font-family: sans-serif
  font-size: 62.5%
  +font-smoothing

html,
body
  width: 100%
  height: 100%

body
  min-width: 320px
  position: relative
  overflow-x: hidden
  font-family: $default-font
  font-weight: 400
  font-size: 1.6rem
  line-height: 1.7
  background-color: shade($bsc-grey-dark, 40%)
  color: $txt-medium

a
  text-decoration: none
  color: $txt-medium

img
  display: block
  width: 100%
  height: auto

h1
  font-family: $default-font
  font-size: 3rem
  font-weight: 700
  color: #121212
  line-height: 1.2

  span
    color: #f3414d

  +MQ(M)
    font-size: 3.6rem

  +MQ(XXL)
    font-size: 4.8rem

.float-md-right
  float: left
  +MQ(M)
    float: right

.float-right
  float: right

.no-padding
  padding: 0

section
  position: relative
  width: 100%

  &.intro
    min-height: 480px
    color: #fff
    text-align: center
/* ------------------------------------------------*/
/* Base Styles End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Intro Styles Start
/* ------------------------------------------------*/
.intro
  background-color: #efefef
  background-image: url('../img/demo/bg-1.png')
  background-position: -80px 100px
  background-repeat: no-repeat
  background-size: 800px

  +MQ(M)
    background-position: center 200px
    padding-bottom: 160px
    background-size: 100%

  +MQ(L)
    background-position: center 150px
    padding-bottom: 230px
    background-size: 90%

  +MQ(XL)
    background-position: center 110px
    background-size: 84%

  +MQ(XXL)
    background-position: center 162px
    padding-bottom: 400px
    background-size: auto

header
  position: relative
  +clearfix
  padding: 4rem 10% 0 10%
  z-index: 1

  .logo
    margin-bottom: 2.4rem
    img
      width: auto
      margin: 0 auto

  .buttons
    text-align: center

  +MQ(M)
    .logo
      margin-bottom: 0
      img
        width: 150px
        height: auto
        margin: 0
    .buttons
      text-align: right
      padding-top: 10px

  +MQ(L)
    padding: 48px 100px 0 100px

  +MQ(XXL)
    padding: 80px 140px 0 140px
    .logo
      img
        width: 188px
        height: auto
    .buttons
      padding-top: 20px

.intro__content
  position: relative
  .headline
    padding: 100px 10%
  +MQ(M)
    .headline
      padding: 120px 10%
  +MQ(L)
    .headline
      padding: 92px 100px
      h1
        max-width: 600px
        margin: 0 auto
  +MQ(XXL)
    .headline
      padding: 120px 140px
      h1
        max-width: 700px
        margin: 0 auto

.intro_illustrations
  position: absolute
  left: 0
  bottom: -180px
  width: 100%
  height: 227px
  overflow: hidden
  z-index: 10

  +MQ(M)
    height: 497px
    bottom: -230px

  +MQ(L)
    bottom: -354px
    height: 671px

  +MQ(XXL)
    bottom: -450px
    height: 941px

.illustration-1
  position: absolute
  +center(x)
  bottom: 0
  width: 320px
  height: 227px
  background-image: url('../img/demo/bg-3.png')
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  z-index: 1
  +MQ(M)
    width: 700px
    height: 497px
  +MQ(L)
    width: 946px
    height: 671px
  +MQ(XXL)
    width: 1326px
    height: 941px

.illustration-2, .illustration-3, .illustration-4, .illustration-5
  display: none
  +MQ(XL)
    display: block

.illustration-2
  position: absolute
  left: 66px
  top: 200px
  width: 516px
  height: 290px
  background-image: url('../img/demo/bg-4.jpg')
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -7px rgba(0,0,0,0.2)

  +MQ(XL)
    left: 48px
    top: 140px
    width: 360px
    height: 202px

  +MQ(XXL)
    left: 66px
    top: 200px
    width: 516px
    height: 290px

.illustration-3
  position: absolute
  left: 118px
  top: 414px
  width: 300px
  height: 225px
  background-image: url('../img/demo/bg-5.jpg')
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2)

  +MQ(XL)
    left: 86px
    top: 290px
    width: 208px
    height: 156px

  +MQ(XXL)
    left: 118px
    top: 414px
    width: 300px
    height: 225px

.illustration-4
  position: absolute
  right: 60px
  top: 240px
  width: 516px
  height: 290px
  background-image: url('../img/demo/bg-7.jpg')
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -7px rgba(0,0,0,0.2)

  +MQ(XL)
    right: 50px
    top: 170px
    width: 360px
    height: 202px

  +MQ(XXL)
    width: 516px
    height: 290px

.illustration-5
  position: absolute
  right: -120px
  top: 420px
  width: 516px
  height: 290px
  background-image: url('../img/demo/bg-6.jpg')
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2)

  +MQ(XL)
    right: -80px
    top: 280px
    width: 360px
    height: 202px

  +MQ(XXL)
    right: -120px
    top: 400px
    width: 516px
    height: 290px
/* ------------------------------------------------*/
/* Intro Styles End
/* ------------------------------------------------*/
